<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<th:block>
		<div th:replace="hello.html::sayHello(${appNG.getSubject()})"></div>
	</th:block>
	<div th:text="${param.debug}">debug</div>
	<div th:text="${param.debug}  ">debug</div>
	<div th:text="${SESSION['timezone'] != null}">timezone</div>
	<div th:text="${#ctx.getVariableNames()}"></div>
	<div th:text="${SESSION['SESSION.currentSubject'].name}"></div>
	<div th:text="${SITE.getString('template')}"></div>
	<div th:text="${APP.getString('activeProfiles')}"></div>
	<div th:text="${PLATFORM.getString('encoding')}"></div>

</body>
</html>
